<div id="modal-contact"
     class="modal pump-modal hide fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="post-label"
     aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="post-label">Choose contacts</h3>
  </div>
  <div class="modal-body">
    <form id="choose-contact" class="form-horizontal">
      <ul class="thumbnails">
        <% _.each(people.items, function(person) {
           var abbrev = (person.id && person.id.substr(0, 5) == 'acct:') ?
           person.id.substr(5) : person.preferredUsername,
           imgUrl = (person.image && person.image.url) ? person.image.url : "/images/default.png";
           %>
        <li class="thumbnail span1" data-person-id="<%- person.id %>" data-title="<%- abbrev %>">
          <img src="<%- imgUrl %>" width="64" height="64" alt="<%- abbrev %>" class="img-rounded" />
          <span><%- person.displayName %></span>
        </li>
        <% }); %>
      </ul>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" id="add-contact">Add</button>
  </div>
</div>
