li.media.object.major(data-object-id=obj.id)
  a.pull-left(href=obj.author.url)
    if obj.author && obj.author.image && obj.author.image.url
      img.img-rounded.media-object(src=(obj.author.image.pump_io && obj.author.image.pump_io.proxyURL) ? obj.author.image.pump_io.proxyURL : obj.author.image.url, width="64", height="64")
    else
      img.img-rounded.media-object(src="/images/default.png", width="64", height="64")

  .media-body
    if obj.displayName
      h4.media-heading!= obj.displayName

    p.muted
      small
        if obj.author
          a(href=obj.author.url)!= obj.author.displayName
          |  at 
        a(href=obj.url)= obj.published
        if obj.location
          |  in 
          a(href=obj.location.url)!= obj.location.displayName

    if obj.image && obj.image.url
      p
        img.img-polaroid.object-image(src=(obj.image.pump_io && obj.image.pump_io.proxyURL) ? obj.image.pump_io.proxyURL : obj.image.url)

    .object-content!= obj.content

    if principal
      include ./lib/responses.pug

    //- List out who liked the object
    - var author = obj.author;
    - var coll = obj.likes;
    if !obj.likes || obj.likes.totalItems === 0
      //- Object has no likes
    else
      p.muted
        small
          if obj.likes.totalItems === 1 && principal && obj.likes.items[0].url === principal.url
            include ./lib/activity-object-collection.pug
            |  like this.
          else
            include ./lib/activity-object-collection.pug
            |  likes this.

    //- List out who shared the object
    - var author = obj.author;
    - var coll = obj.shares;
    if !obj.shares || obj.shares.totalItems === 0
      //- No one shared the object
    else if obj.shares.totalItems === 1
      p.muted
        small
          include ./lib/activity-object-collection.pug
          |  shared this.
    else
      p.muted
        small
          include ./lib/activity-object-collection.pug
          |  shared this.

    - var replies = obj.replies;
    include ./replies.pug
