li.media.person.major(data-person-id=person.id)
  a.pull-left(href=person.url)
    if person.image && person.image.url
      img.img-rounded.media-object(src=(person.image.pump_io && person.image.pump_io.proxyURL) ? person.image.pump_io.proxyURL : person.image.url, width="64", height="64")
    else
      img.img-rounded.media-object(src="/images/default.png", width="64", height="64")

  .media-body
    h4.media-heading
      a(href=person.url)!= person.displayName
      |  
      small
        if person.id && person.id.slice(0, 5) === 'acct:'
          = person.id.slice(5)
        else
          = person.preferredUsername

    .pull-right
      include ./lib/profile-responses

    if person.location
      p.location!= person.location.displayName
    if person.summary
      p.summary!= person.summary
