li.media.person.major.member(data-person-id=person.id)
  a.pull-left(href=person.url)
    if person.image && person.image.url
      img.img-rounded.media-object(src=person.image.url, width="64", height="64",)
    else
      img.img-rounded.media-object(src="/images/default.png", width="64", height="64")
  .media-body
    if principal && principal.id === list.author.id
      button.close#remove-person(type="button", data-title=`Remove ${person.displayName} from ${list.displayName}`) &times;

    h4.media-heading
      a(href=person.url)!= person.displayName
      small
        if person.id && person.id.substr(0, 5) === 'acct:'
          = person.id.substr(5)
        else
          = person.preferredUsername

    if person.location
      p.location!= person.location.displayName
    if person.summary
      p.summary!= person.summary
