.container

  a.brand(href="/")= config.site

  .btn-group
    button.btn.btn-small.primary#post-note-button(type="button", title="Post a note")
      span.hidden-phone Note 
      i.fa.fa-pencil
    if config.canUpload
      button.btn.btn-small.primary#post-picture-button(type="button", title="Post a picture")
        span.hidden-phone Picture 
        i.fa.fa-picture-o

  ul.nav.pull-right
    li.dropdown#fat-menu
      a.dropdown-toggle#profile-dropdown(href="#", role="button", data-toggle="dropdown")
        if _(principal).has("image")
          img.pull-left.img-rounded(src="#{principal.image.url}", width="24" height="24")
        else
          img.pull-left.img-rounded(src="/images/default.png", width="24", height="24")
        | &nbsp;
        span.hidden-phone!= principal.displayName
        b.caret

      ul.dropdown-menu(role="menu", aria-labelledby="profile-dropdown")
        li
          a(tabindex="-1", href="/#{principalUser.nickname}") Activity
        li
          a(tabindex="-1", href="/#{principalUser.nickname}/favorites") Favorites
        li
          a(tabindex="-1", href="/#{principalUser.nickname}/followers") Followers
        li
          a(tabindex="-1", href="/#{principalUser.nickname}/following") Following
        li
          a(tabindex="-1", href="/#{principalUser.nickname}/lists") Lists
        li.divider
        li
          a(tabindex="-1", href="/main/settings") Profile
        li
          a(tabindex="-1", href="/main/account") Account
        li.divider
        li
          a#logout(tabindex="-1", href="#") Log out

  .pull-right
    include ./messages.pug
    | &nbsp;
    include ./notifications.pug
