mixin authorship(object)
  p.muted
    small
      if object.author
        a(href=object.author.url)!= object.author.displayName
        |  at 
      a(href=object.url)
        time.dt-published(datetime=object.published)= object.published
      if object.location
        |  in  
        a(href=object.location.url)!= object.location.displayName

.object-page.h-entry
  .media
    a.pull-left.h-card.p-author(href=object.author.url)
      if object.author && object.author.image && object.author.image.url
        img.img-rounded.media-object(src=object.author.image.url, width="96", height="96", alt=object.author.displayName)
      else
        img.img-rounded.media-object(src="/images/default.png", width="96", height="96", alt=object.author.displayName)

    .media-body
      if object.inReplyTo
        - var irt = object.inReplyTo;
        blockquote
          i.fa.fa-reply.inreplyto-icon

          //- XXX this is author-then-title, but everything else is title-then-author
          //- I think it looks better this way in this particular context but maybe it should be consistent?
          +authorship(irt)

          if !irt.content && irt.displayName
            h2.inreplyto-heading!= irt.displayName
            br

          if irt.content
            != irt.content.length <= 80 ? irt.content : irt.content.slice(0, 80) + "…"
          else if irt.objectType === "image"
            span.inreplyto-image (Image)

      if object.displayName
        h2.media-heading.p-name!= object.displayName

      +authorship(object)

      .e-content
        if object.image && object.image.url
          p
            img.img-polaroid(src=object.image.url)

        .object-content.p-summary!= object.content

      if principal
        - var obj = object
        include ./lib/responses

      - var author = object.author;
      - var coll = object.likes;
      if !object.likes || object.likes.totalItems === 0
        //- No likes, so we don't show anything
      else
        p.muted
          small
            if object.likes.totalItems === 1 && principal && object.likes.items[0].url === principal.url
              include ./lib/activity-object-collection
              |  like this.
            else
              include ./lib/activity-object-collection
              |  likes this.

      - var author = object.author;
      - var coll = object.shares;
      if !object.shares || object.shares.totalItems === 0
        //- No shares, so we don't show anything
      else if object.shares.totalItems === 1
        p.muted
          small
            include ./lib/activity-object-collection
            |  shared this.
      else
        p.muted
          small
            include ./lib/activity-object-collection
            |  shared this.

      - var replies = object.replies;
      include ./replies
