.media#profile-block(data-profile-id="#{profile.id}")
  span.pull-left
    if profile.image && profile.image.url
      img.img-rounded.media-object(src="#{profile.image.url}", width="128", height="128")
    else
      img.img-rounded.media-object(src="/images/default.png", width="128", height="128")
  .media-body
  .pull-right
    - var person = profile
    include ./profile-responses.jade
  h1.media-header!= profile.displayName
    small
      if profile.id && profile.id.substr(0, 5) === 'acct:'
        = profile.id.substr(5)
      else
        = profile.preferredUsername

if profile.location
  p.location!= profile.location.displayName
if profile.summary
  p.summary!= profile.summary
// TODO: HOME PAGE HERE
