mixin recipient-selector(name, id, label, value)
  label(for=id)= label
  input(type="hidden", name=name id=id value=value !== undefined ? value : name === "cc" ? "collection:#{principal.followers.url}" : "")
